<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="springaop"/>
    <context:component-scan base-package="Q8_9"/>

    <aop:aspectj-autoproxy/>

    <bean id="dummy" class="springaop.Dummy"/>
    <bean id="myEventListener" class="springaop.MyEventListener"/>

    <bean id="customEventListener" class="Q1to3.CustomEventListener"/>
    <bean id="customEventPublisher" class="Q1to3.CustomEventPublisher"/>
    <bean id="database" class="Q1to3.Database">
        <property name="name" value="localhost"/>
        <property name="port" value="8080"/>
    </bean>

    <!--<bean id="services" class="springaop.Services"/>-->
    <!--<bean id="logger" class="springaop.Logging"/>-->
</beans>